/* #gameDiv {
    width:100%;
} */
.gif {
    /* position: relative; */
border:1px solid black;
/* float: left; */
height:150px;
padding:10px;
margin: 10px;
}

div.gameDivCLass {
    display: inline-block;
}

 .pclass {
   
    float: left;
   
} 
